@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$violet-palette,
        tertiary: mat.$blue-palette,
      ),
    )
  );
}

html.dark-theme {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$orange-palette,
        tertiary: mat.$green-palette,
      ),
    )
  );
}

/* Globale Styles */

body {
  margin: 0;
  font-family: Roboto, sans-serif;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

h1 {
  color: var(--mat-sys-primary);
}

a {
  color: var(--mat-sys-primary);
}

button {
  color: var(--mat-sys-primary);
}
